body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

 /* Containers */

.container-fluid {
    padding: 7% 15% ;
}

/* Sections */
.colored-section {
    background-color: #ff2e63;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Title Section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.download-btn {
    margin: 5% 3% 5% 0;
}

.iphone-img {
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
    width: 60%;
}

@media (max-width: 1028px) {
    #title .container-fluid{
        text-align: center;
    }

    .iphone-img {
        position: static;
        transform: rotate(0deg);
    }
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 300;
}

/* Feature Section*/

#features {
    position: relative;
}

.feature-box {
    padding: 4.5%;
}

.feature-icon {
    color: #ff9d9d;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff2e63;
}

.feature-title {
    font-size: 1.5rem;
}


/* Testimonial Section */

#testimonials {
    background-color: #ff9d9d;
}

.testimonial-img {
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* Press Section */

#press {
    background-color: #ff9d9d;
    padding-bottom: 3%;
}

.press-img {
    margin: 20px 20px 50px;
    width: 15%;
}

/* Pricing Section */

#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

.pricing-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* Call to Action Section */

.cta-btn {
   margin: 5% 3% 5% 0;
}

/* Footer Section */

#footer {
    padding: 7% 20%;
}

#footer a:link, #footer a:visited {
    color: #ff9d9d;
}

#footer a:hover{
    color: #ff2e63;
}

.footer-icon {
    margin: 2% 0.5rem;
}


